:root {
  background-color: #fff;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
}

.rotate-180 {
  transform: rotate(180deg);
}

.pl-2 {
  padding-left: 0.5rem;
}